body {
    margin: 0;
}
.navbar-area {
    background-color: lightgray;
    padding: 15px;
    height: 30px;
}
.user-button {
    float: right;
    margin: 7px 0 0 0;
}
.login-button {
    float: left;
    border: 2px solid;
    color: black;
    background-color: whitesmoke;
    padding: 3px;
}
.login-button :hover {
    background-color: black;
    color: whitesmoke;
    transition: 1s;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
}
p.message-success {
    margin: 20px 25rem;
    text-align: center;
    padding: 30px;
    border: 1px solid;
    border-radius: 30px;
}
.container {
    margin: 20px;
}
table {
    border: 1px solid;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}
th {
    padding: 10px;
}
input[type="text"] {
    padding: 4px;
    border-radius: 8px;
}
.form-button {
    text-align: right;
    margin: 20px 47rem;
}

